@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap") ;

@import url("Components/Container.css") ; 
@import url("Components/Galerie.css") ; 
@import url("Components/button.css") ; 
@import url("Components/banner.css") ; 
@import url("Components/idees.css") ; 



body {
font-family: "Lora", serif;
font-size: 18px;
margin: 0px;
}
h1, h2, h3 {
font-family: "Roboto", sans-serif;
font-weight: bold;
}	
p {
font-family: "Lora", serif;
font-weight: lighter;
font-size: 14px;
}	
